@model PagedList.IPagedList<DAO.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/Content/product.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <a class="btn" type="button" id="create" href='@Url.Action("Create","Products")'>Thêm mới sản phẩm</a>
    </div>
    <div class="row table-responsive" id="product_area">
        @{ Html.RenderAction("GetPaging", "Products", new { page = 1 });}
    </div>
</div>



